{% extends "base.html" %}
{% block styles %}
<!--<link rel="stylesheet" href="./../static/css/leftpanel.css"/>-->
<!--<link rel="stylesheet" href="./../static/css/search.css"/>-->
{% endblock %}

{% block body %}
<div class="leftPanel">
    <div class="leftPanel__flipped">
        <img class="search__img" src="../static/search.png" alt="search"/>
        <div class="search__container" >
            Szukaj:
            <input type="text" class="search__queryInput"/>
            <div class="search__queryResult">
                <ul>
                    <li>{`${u.name} ${u.surname}`}</li>
                </ul>
            </div>
        </div>
        <div class="chatItem--beforeActive">
            <img
                src="../static/avatars/janek007.png"
                alt="User avatar"
            />
            <div class="chatItem__chatData">
                <span class="chatItem__chatData__nameSurname">
                    Jan Kowalski
                </span>
                <span class="chatItem__chatData__lastMessage">
                       Ty: jqwdncnieqofofcnw...
                </span>
            </div>
        </div>
        <div class="leftPanel__foo"/>
    </div>
</div>
{% endblock %}