{% macro render_left_panel(chats) %}
        <div class="leftPanel">
        <div class="leftPanel__flipped">
            <div class="search">
                <img class="search__img" src="/static/img/search.png" alt="search"/>
                <div class="search__container">
                    Search for users:
                    <input type="text" class="search__queryInput"/>
                    <div class="search__queryResult">
                        <ul class="search__queryResult__list"></ul>
                    </div>
                </div>
            </div>
            <div class="leftPanel__chatContainer">
                {% if chats is defined and chats %}
                    {% for chat in chats %}
                        <a href={{"/chats/" ~ chat.id}}>
                            <div class="chatItem">
                                <img class="chatItem__img" src={{"/static/img/avatars/" ~ chat.recipient.avatar_img}} alt="User avatar" width="100" height="100"/>
                                <div class="chatItem__chatData">
                                    <span class="chatItem__chatData__nameSurname">{{chat.recipient.name ~ " " ~ chat.recipient.surname}}</span>
                                    <span class="chatItem__chatData__lastMessage">{{chat.description}}</span>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                {% else %}
                    <span class="leftPanel__empty">No chats here yet...</span>
                {% endif %}
            </div>
            <div class="leftPanel__foo"></div>
        </div>
    </div>
{% endmacro %}