{% macro render_left_panel(chats) %}
        <div class="leftPanel">
        <div class="leftPanel__flipped">
            <div class="search">
                <img class="search__img" src="/static/img/search.png" alt="search"/>
                <div class="search__container">
                    Szukaj:
                    <input type="text" class="search__queryInput"/>
                    <div class="search__queryResult">
                        <ul>
                            <li>{`${u.name} ${u.surname}`}</li>
                        </ul>
                    </div>
                </div>
            </div>
            {% for chat in chats %}
                <a href={{"/chats/" ~ chat.id}}>
                    <div class="chatItem">
                        <img src={{"/static/img/avatars/" ~ chat.recipient.username ~ ".png"}} alt="User avatar"/>
                        <div class="chatItem__chatData">
                            <span class="chatItem__chatData__nameSurname">{{chat.recipient.name ~ " " ~ chat.recipient.surname}}</span>
                            <span class="chatItem__chatData__lastMessage">{{chat.description}}</span>
                        </div>
                    </div>
                </a>
            {% endfor %}
            <div class="leftPanel__foo"></div>
        </div>
    </div>
{% endmacro %}