{% macro render_messages_panel(messages, current_user, recipient) %}
<div class="messages">
        <div class="messages__container">
            {% for message in messages %}
                {% if message.user_id == current_user.id %}
                    <div class="messages__singleMessage messages__singleMessage--myMsg">
                        {{message.content}}
                        <div class="messages__singleMessage__tooltip">{{message.time}}</div>
                    </div>
                {% else %}
                    <div class="messages__singleMessage messages__singleMessage--receivedMsg">
                        {{message.content}}
                        <div class="messages__singleMessage__tooltip">{{message.time}}</div>
                    </div>
                {% endif %}
                {% if message.id == recipient.read_message_id %}
                    <img class="seenAvatar"
                        src={{"/static/img/avatars/" ~ recipient.username ~ ".png" }}
                        alt="seen avatar"
                    />
                {% endif %}
            {% endfor %}
        </div>
        <div class="newMessageInput">
            <input type="text" class="newMessageInput__input"/>
            <input type="image" class="newMessageInput__btn" src="/static/img/send.png" alt="Send"/>
        </div>
    </div>
{% endmacro %}
