{% from "header.html" import render_header %}
{% extends "base.html" %}
{% block styles %}
<link rel="stylesheet" href="/static/css/signup.css"/>
<link rel="stylesheet" href="/static/css/header.css"/>
{% endblock %}

{% block body %}
{{ render_header(False) }}
<div class="signupPage">
    <span class="signupPage__title">
        <span aria-hidden="true">&gt;&gt;&gt;</span> make your own CONNECTion
    </span>
    <form class="signupPage__form" method="POST" enctype=multipart/form-data>
        <label for="name" class="signupPage__label">your name:</label>
        <input type="text" id="name" name="name" class="signupPage__input"/>

        <label for="surname" class="signupPage__label">your surname:</label>
        <input type="text" id="surname" name="surname" class="signupPage__input"/>

        <label for="username" class="signupPage__label">your username:</label>
        <input type="text" id="username" name="username" class="signupPage__input"/>

        <label for="avatar" class="signupPage__label">your avatar (png or jpg file):</label>
        <input type="file" id="avatar" name="avatar" class="signupPage__input" accept="image/png, image/jpeg"/>

        <label for="password" class="signupPage__label">password:</label>
        <input type="password" id="password" name="password" class="signupPage__input"/>

        <label for="repeat_password" class="signupPage__label">repeat password:</label>
        <input type="password" id="repeat_password" name="repeat_password" class="signupPage__input"/>

        <input type="submit" class="signupPage__input" id="buttonSubmit" value="sign up"/>
    </form>
    <span class="signupPage__error">{{error_message}}</span>
    <a href="/login" class="signupPage__loginLink">Already have an account? Sign In</a>
</div>
<footer><b><span aria-hidden="true">&gt;&gt;&gt;</span> <i>CONNECT</i></b> - free text messenger | &copy; CONNECT Inc. 2022</footer>
<script type="text/javascript" src="{{ url_for('static', filename='js/sign_up.js') }}"></script>
{% endblock %}