.newMessageInput {
    flex-grow: 0;
}

.newMessageInput,.newMessageInput__input {
    display: flex;
    flex-direction: row;
}

.newMessageInput__input {
    flex-grow: 1;
    margin: 18px 18px 18px 0;
}

.newMessageInput__btn {
    width: 35px;
    height: 35px;
    margin: 20px 20px 20px 0;
    transition: .2s;
    cursor: pointer;
}

.newMessageInput__btn:hover {
    -webkit-filter: brightness(0);
    filter: brightness(0);
    width: 45px;
}

.newMessageInput__fileInput {
    opacity: 0;
    width: 1px;
}

.newMessageInput__fileInputLabel__img {
    width: 40px;
    height: 40px;
    margin: 20px 0 20px 20px;
    cursor: pointer;
    transition: .2s;
}

.newMessageInput__fileInputLabel__img:hover {
    -webkit-filter: brightness(0);
    filter: brightness(0);
    width: 45px;
}