.rightPanel {
    background: #282c34;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    max-height: calc(100vh - 125px);
    min-width: 350px;
    max-width: 350px;
    padding: 40px 20px 20px 40px;
    cursor: default;
    overflow-y: scroll;
}

@media (max-width: 1200px) {
    .rightPanel {
        display: none;
    }
}

.rightPanel::-webkit-scrollbar {
    width:10px
}

.rightPanel::-webkit-scrollbar-track {
    background-color:#000
}

.rightPanel::-webkit-scrollbar-thumb {
    background-color:#fab131
}

.rightPanel__userAvatar {
    width:200px;
    height:200px;
    border:5px solid #e7eb59
}

.rightPanel__nameSurname {
    font-weight:700;
    font-size:26px;
    margin-top:40px;
    color:#fff
}

.rightPanel__username {
    font-weight:lighter;
    font-size:15px;
    color:#785518
}
