.search {
    background: #e7eb59;
    display: flex;
    flex-grow: 0;
    flex-direction: row;
    font-size: 18px;
    color: #785518;
}

.search__img {
    padding: 5px;
    max-width: 100px;
}

.search__container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.search__queryInput {
    margin: 0 3px;
}

ul {
    padding: 0;
    margin: 0;
    border: none;
    list-style-type: none;
    text-align: left;
}

ul li {
    display: block;
    padding: 2px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin: 2px 6px 0;
    transition: .2s;
}

ul li:hover {
    background: #fab131;
    color: #fff;
    transition: .2s;
}
